.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  z-index: 5;
}

.carouselForm {
  width: 65rem;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem;
  overflow: scroll;
}

.title {
  font-size: 2.5rem;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.inputField {
  outline: none;
  border: none;
  border-radius: 1px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.labelText {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.actionButton {
  color: #fff;
  background-color: #2c3e50;
  margin-bottom: 1rem;
}

.actionButton:hover,
.actionButton:focus {
  background-color: #95a5a6;
}

.actionButton:disabled {
  cursor: default;
  background-color: #bdc3c7;
}

.ghostButton {
  color: #2c3e50;
  border: 1px solid #2c3e50;
  margin-bottom: 1rem;
}

.ghostButton:hover,
.ghostButton:focus {
  color: #fff;
  border: 1px solid #95a5a6;
  background-color: #95a5a6;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
}

.imageThumbnail {
  margin-bottom: 1rem;
  height: 10rem;
}

.imageContainer {
  display: flex;
  margin: 2rem auto;
  max-height: 24rem;
}

.imageThumbnailContainer {
  position: relative;
}

.imageThumbnailLarge {
  margin-bottom: 1rem;
  object-fit: contain;
  max-height: 20rem;
  /* border: 1px solid red; */
}

.imageThumbnailCloseButton {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: #c0392b;
  color: #fff;
  border-radius: 50%;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageThumbnailCloseButton:hover,
.imageThumbnailCloseButton:focus {
  background-color: #e74c3c;
  position: absolute;
}

.noImageMessage {
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
}
