.controlButton {
  background-color: #2c3e50;
  color: #fff;
}

.controlButton:hover,
.controlButton:focus {
  background-color: #95a5a6;
}

.controlButtonDanger {
  color: #fff;
  background-color: #c0392b;
}

.controlButtonDanger:disabled {
  color: #ccc;
  background-color: #bdc3c7;
}

.controlButtonDanger:hover,
.controlButtonDanger:focus {
  background-color: #e74c3c;
}
